@model TestePositivo.Models.AlunoModel

@{
    ViewData["Title"] = "Detalhes Aluno";
}

<h1>Detalhes</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome Completo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeCompleto)
        </dd>
        <dt class="col-sm-2">
            Data de nascimento
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Segmento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Segmento)
        </dd>
        <dt class="col-sm-2">
            Nome do Pai
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomePai)
        </dd>
        <dt class="col-sm-2">
            Nome da Mãe
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeMae)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> 
    <a class="btn btn-secondary" asp-action="Index">Voltar para lista</a>
</div>
