@model IEnumerable<TestePositivo.Models.EnderecoModel>

@{
    ViewData["Title"] = "Endereço";
}

<div class="text-center">
    <h1>Endereços</h1>
    </br></br>
</div>

<p>
    <a class="btn btn-primary" asp-action="Create">Criar novo Endereço</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome Completo
            </th>
            <th>
                Tipo
            </th>
            <th>
                Rua
            </th>
            <th>
                CEP
            </th>
            <th>
                Numero
            </th>
            <th>
                Complemento
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Aluno.NomeCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rua)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CEP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Complemento)
                </td>

                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> 
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
